.app__header_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
}
 
.app__header_right > button {    
    text-transform: inherit;
}

.app__header {
    justify-content: space-between;
    display: flex;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.app__header > img {
    height: 10%;
}

.app__header_minimenu {
    display: flex;
    justify-content: space-between;
}



